body{
    background-image: url(https://img1.picmix.com/output/stamp/normal/4/0/7/7/587704_6bfb5.jpg);
    font-family: Segoe UI;
  }
  
  .menu{
    background-color: #eee; 
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color: teal;
  }
  
  a:hover{
    text-decoration: none;
    color: #000;
  }
  
  .site-subtitle,
  .site-title{
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
    font-family: Times New Roman;
  }
  
  
  